/* Full Disclosure Project CSS
	Author: Serghie
	Date: 08/05/2020 */

/* Header Styles */

header {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

header img {
	margin-top: 20px;
}

header img:hover {
	cursor: pointer;
}

a img {
   	margin-right: auto;
   	margin-left: auto;
   	width: 65%;
}

/* Nav Styles */

nav {
	font-family: 'Chilanka', cursive;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 95%;
}

ul#topLinks li{
	display: block;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	
}

ul#topLinks a {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	margin: 20px;
	border-radius: 30px;
	font-size: 21px;
	float: left;
	color: black;
	text-decoration: none;
	background-color: white;
	
}

ul#topLinks a:hover {
	background-color: rgb(255, 239, 92);
	cursor: pointer;
}

/* Body Styles */

body {
	background-color: rgb(0, 245, 188);
	width: 100%;
	overflow-x: hidden;
}

section {
	background-color: rgb(255, 187, 153);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

}

/* Form Styles */

h1#updates {
	font-size: 4em;
	margin-top: 10px;
	margin-bottom: 15px;
	text-shadow: 5px 5px 5px white;
	font-family: 'Indie Flower', cursive;
}

h1#updates {
	clear: both;
}

div#formBox {
	background-color: white;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border: 10px dashed rgb(198, 92, 255);
	padding: 30px;
	display: block;
}

form label {
	font-size: 24px;
	width: 50%;
	text-align: left;
	font-family: 'Chilanka', cursive;
	text-align: center;

}

input#sub:hover {
	background-color: rgb(255, 239, 92);
}

form input {
	margin-bottom: 30px;
}

form select {
	margin-bottom: 30px;
}

input#sub {
	font-size: 15px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	position: relative;
	width: 20%;
}

input#artist {
	margin-bottom: 40px;
}

/* Footer Styles */

footer {
	text-align: center;
	font-family: 'Chilanka', cursive;

}

footer a:link {
	color: blue;
}

footer a:hover {
	color: darkorange;
}

/* Button padding for different widths */

@media only screen and (max-width: 480px) {
	input#sub {
		padding: 0px;
	}
} 

@media only screen and (max-width: 769px) {
	input#sub {
		padding: 5px;
	}
}